.form-check-input {
    &:checked {
        background-color: $primary !important;
        border-color: $primary !important;
    }
    &:focus {
        border-color: $primary;
        box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
    }
}
