body {
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    font-style: normal;
    font-family: Montserrat;
    color: $dark;

    @media(max-width: 1200px) {
        font-size: 16px;
    }
}

.font-title {
    font-family: Cormorant Garamond;
}

.italic {
    font-style: italic;
}

.fs-64 {
    font-size: 64px;
    font-style: normal;
    line-height: 107%;

    @media(max-width: 1600px) {
        font-size: 54px;
    }

    @media(max-width: 1200px) {
        font-size: 45px;
    }
}

.fs-30 {
    font-size: 30px;
    font-style: normal;
    line-height: 107%;

    @media(max-width: 1600px) {
        //font-size: 54px;
    }
}

.fs-24 {
    font-size: 24px;
    font-style: normal;
    line-height: 107%;

    @media(max-width: 1600px) {
        font-size: 20px;
    }
}

.fs-20 {
    font-size: 20px;
    font-style: normal;
    line-height: 107%
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-400 {
    font-weight: 400;
}

.fw-300 {
    font-weight: 300;
}

.text-truncation-7 {
    @include text-truncation(7);
}

.btn-danger,
.btn-primary,
.btn-dark {
    color: white;

    &:hover {
        background-color: $dark;
        border: 1px solid $danger;
        box-shadow: 0px 0px 10px 0px #FF4242;
        //box-shadow: 0rem 0rem 4rem rgba(255, 66, 66, 0.7);
        color: white;
    }
}
